@{
    ViewBag.Title = "Something Went Wrong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->

							<!-- #section:pages/error -->
							<div class="error-container">
								<div class="well">
									<h1 class="grey lighter smaller">
											<i class="fa fa-frown-o fa-6"></i>
										Access Denied
									</h1>

									<hr>
									<h5 class="lighter smaller">
										@ViewBag.Message
									</h5>

									<div class="space"></div>

									

									<hr>
									<div class="space"></div>

									<div class="center">
										<a href="javascript:history.back()" class="btn btn-grey">
											<i class="ace-icon fa fa-arrow-left"></i>
											Go Back
										</a>

										<a href="@Url.Action("Index", "Home")" class="btn btn-primary">
											<i class="ace-icon fa fa-tachometer"></i>
											Dashboard
										</a>
									</div>
								</div>
							</div>

							<!-- /section:pages/error -->

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div>
