@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Project Configuration
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Make all project's adjustments here
    </small>
    </h1>
</div>