@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#commulativeReport').dataTable(
                    {
                        "bAutoWidth": false,
                        "sWidth": false
                    }
                );
            });
        </script>
    </head>
    <body>
        <div>
        
        </div>
    </body>
</html>