<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GlobalReportingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="executionPriorities" value="critical_high_medium_low_new_smoke_acceptance" />
    <add key="attachmentsPath" value="http://10.236.4.153/nggrs/harvest" />
    <add key="greengoApi" value="http://greengo.amers1.cis.trcloud:8070/" />
    <add key="GITUser" value="s.git.grs" />
    <add key="GITPassword" value="BbgZ7&amp;hQje=68LC" />
    <add key="GITUserClarivate" value="bb-svc-git-grs" />
    <add key="GITPasswordClarivate" value="BbgZ7&amp;hQje=68LC" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/500.aspx">
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Users" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" targetFramework="4.5" maxQueryStringLength="1048576" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="font/woff"/>
    </staticContent>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="1048576" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AgentWebMethodsPortBinding" closeTimeout="10:20:00"
          openTimeout="10:01:00" receiveTimeout="10:20:00" sendTimeout="10:20:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="4194304"
          maxReceivedMessageSize="4194304" useDefaultWebProxy="true" />
        <binding name="AnalysisServiceSoap" closeTimeout="10:20:00" openTimeout="10:01:00"
          receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <binding name="ExecutorNgSoap" closeTimeout="10:20:00" openTimeout="10:01:00"
          receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <binding name="ExecutorSoap" closeTimeout="10:20:00" openTimeout="10:01:00"
          receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <binding name="ServiceConnectorSoap" closeTimeout="10:20:00"
          openTimeout="10:01:00" receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <binding name="LinearSoap" closeTimeout="10:20:00" openTimeout="10:01:00"
          receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <binding name="LoadBalancedExecutionServiceSoap" closeTimeout="10:20:00"
          openTimeout="10:01:00" receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <binding name="SikuliServiceSoap" closeTimeout="10:20:00" openTimeout="10:01:00"
          receiveTimeout="10:20:00" sendTimeout="10:20:00" />
        <!--<binding name="AnalysisServiceSoap1" />
        <binding name="ServiceConnectorSoap1" />
        <binding name="ExecutorNgSoap1" />
        <binding name="ExecutorSoap1" />
        <binding name="LinearSoap1" />
        <binding name="LoadBalancedExecutionServiceSoap1" />
        <binding name="SikuliServiceSoap1" />-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3195/" binding="basicHttpBinding"
        bindingConfiguration="AgentWebMethodsPortBinding" contract="GrsAgent.AgentWebMethods"
        name="AgentWebMethodsPort" />
      <endpoint address="http://10.236.4.153/nggrs/analyzer/AnalysisService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AnalysisServiceSoap"
        contract="AnalysisService.AnalysisServiceSoap" name="AnalysisServiceSoap" />
      <endpoint address="http://10.236.4.153/nggrs/executor/ExecutorNg.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExecutorNgSoap"
        contract="ExecutorNg.ExecutorNgSoap" name="ExecutorNgSoap" />
      <endpoint address="http://10.236.4.153/nggrs/executor/Executor.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExecutorSoap"
        contract="ExecutorService.ExecutorSoap" name="ExecutorSoap" />
      <endpoint address="http://10.236.4.153/nggrs/harvest/ServiceConnector.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceConnectorSoap"
        contract="Harvest.ServiceConnectorSoap" name="ServiceConnectorSoap" />
      <endpoint address="http://10.236.4.153/nggrs/executor/Linear.asmx"
        binding="basicHttpBinding" bindingConfiguration="LinearSoap"
        contract="Linear.LinearSoap" name="LinearSoap" />
      <endpoint address="http://10.236.4.153/nggrs/executor/LoadBalancedExecutionService.asmx"
        binding="basicHttpBinding" bindingConfiguration="LoadBalancedExecutionServiceSoap"
        contract="LoadBalancedExecutionService.LoadBalancedExecutionServiceSoap"
        name="LoadBalancedExecutionServiceSoap" />
      <!--<endpoint address="http://10.236.4.153/nggrs/analyzer/AnalysisService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AnalysisServiceSoap1"
        contract="AnalysisService.AnalysisServiceSoap" name="AnalysisServiceSoap1" />
      <endpoint address="http://10.236.4.153/nggrs/harvest/ServiceConnector.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceConnectorSoap1"
        contract="Harvest.ServiceConnectorSoap" name="ServiceConnectorSoap1" />
      <endpoint address="http://10.236.4.153/nggrs/executor/ExecutorNg.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExecutorNgSoap1"
        contract="ExecutorNg.ExecutorNgSoap" name="ExecutorNgSoap1" />
      <endpoint address="http://10.236.4.153/nggrs/executor/Executor.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExecutorSoap1"
        contract="ExecutorService.ExecutorSoap" name="ExecutorSoap1" />
      <endpoint address="http://10.236.4.153/nggrs/executor/Linear.asmx"
        binding="basicHttpBinding" bindingConfiguration="LinearSoap1"
        contract="Linear.LinearSoap" name="LinearSoap1" />
      <endpoint address="http://10.236.4.153/nggrs/executor/LoadBalancedExecutionService.asmx"
        binding="basicHttpBinding" bindingConfiguration="LoadBalancedExecutionServiceSoap1"
        contract="LoadBalancedExecutionService.LoadBalancedExecutionServiceSoap"
        name="LoadBalancedExecutionServiceSoap1" />-->
      <endpoint address="http://10.236.4.153/nggrs/sikuli/SikuliService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SikuliServiceSoap"
        contract="SikuliService.SikuliServiceSoap" name="SikuliServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <GlobalReportingSystem.Properties.Settings>
      <setting name="GlobalReportingSystem_com_reuters_ime_apac_bjz_jira_JiraSoapServiceService" serializeAs="String">
        <value>http://jira.bjz.apac.ime.reuters.com/rpc/soap/jirasoapservice-v2</value>
      </setting>
    </GlobalReportingSystem.Properties.Settings>
  </applicationSettings>
    <connectionStrings>
        <add connectionString="metadata=res://*/DB.DB.csdl|res://*/DB.DB.ssdl|res://*/DB.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EC2AMAZ-KN6S634;initial catalog=GRSDataBase;Integrated Security=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" name="GRSDataBaseEntities" />
    </connectionStrings>
</configuration>